# Server Configuration
PORT=8080
BASE_URL=http://localhost:8080



DATABASE_URL=postgresql://test_user:test_password@localhost:5433/shortener_url?sslmode=disable

# DATABASE_URL=postgresql://test_user:test_password@postgres:5432/shortener_url?sslmode=disable

JWT_SECRET=replace-this-with-a-secure-random-secret
